<section class="section">
    <div class="container">
        <div class="footer-main">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-4">Column 1</h4>
                    <p class="">
                        randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum,
                    </p>
                </div>
                <div class="column">
                    <h4 class="title is-4">Column 2</h4>
                    <p class="">
                        randomised words which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum,
                    </p>
                </div>
                <div class="column">
                    <h4 class="title is-4">Subscribe Now</h4>
                    <div class="field">
                        <input class="input" type="text" placeholder="Email" />
                    </div>
                    <div class="buttons">
                        <button class="button is-left is-medium is-orange">Subscribe</button>
                    </div>
                </div>

                <div class="column">
                    <h4 class="title is-4">Follow Us</h4>

                    <div class="buttons">
                        <a class="button is-medium is-facebook is-inverted is-black-social">
                  <span class="icon">
                    <i class="fab fa-facebook fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-instagram is-inverted is-black-social">
                  <span class="icon">
                    <i class="fab fa-instagram fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-twitter is-inverted is-black-social">
                  <span class="icon">
                    <i class="fab fa-twitter fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-youtube is-inverted is-black-social">
                  <span class="icon">
                    <i class="fab fa-youtube fa-lg"></i>
                  </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>

<footer class="footer-secondary">
    <div class="content has-text-centered">
        <p>{{FOOTER}}</p>
    </div>
</footer>
