<nav class="navbar {% if NAVBAR_STYLE %}{{ NAVBAR_STYLE }}{% else %}is-info{% endif %}" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {% if THEME_LOGO is defined and THEME_LOGO is sameas false %}
            <!-- Empty -->
        {% elif THEME_LOGO is defined %}
            <a class="navbar-item" href="{{ SITEURL }}/">
                <img src="{{ SITEURL }}{{ THEME_LOGO }}">
            </a>
        {% elif THEME_LOGO is not defined %}
            <a class="navbar-item" href="{{ SITEURL }}">
                <img src="{{ SITEURL }}/theme/images/buruma_logo.png">
            </a>
        {% endif %}
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
        {% for item, link in MENUITEMS_NAVBAR %}
            <a class="navbar-item" href="{{ SITEURL }}{{ link }}">
                {{ item }}
            </a>
        {% endfor %}
        {% if CATS_NOT_DROPDOWN %}
            <a class="navbar-item" href="{{ SITEURL }}/categories">
                {% trans %}Categorias{% endtrans%}
            </a>
        {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-dropdown">
                    {% for cat in categories %}
                    <a class="navbar-item" href="{{ SITEURL }}/{{ cat[0].url }}">
                        {{ cat[0] }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                {% for item, link, style in MENUITEMS_NAVBAR_FEATURED %}
                    <a class="button {{ style }}" href="{{ SITEURL }}{{ link }}">
                        {{ item }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</nav>
