<h2 class="title is-2">El voluntariado 😺‍ </h2>
<div class="list has-visible-pointer-controls has-hoverable-list-items">
    <div class="list-item">
       <div class="list-item-title is-size-5">Alejandro Manzanares</div>
       <div class="list-item-title is-size-5">Ariadna Cervilla</div>
       <div class="list-item-title is-size-5">Carmen Guidet</div>
       <div class="list-item-title is-size-5">Gisela Lorenzo</div>
       <div class="list-item-title is-size-5">Ignasi Camacho</div>
       <div class="list-item-title is-size-5">Inés Jiménez</div>
       <div class="list-item-title is-size-5">Juan Diego Mariscal</div>
       <div class="list-item-title is-size-5">María Sánchez</div>
       <div class="list-item-title is-size-5">Paula Ruiz</div>
       <div class="list-item-title is-size-5">Taxo Rubio</div>
       <div class="list-item-title is-size-5">Violeta Martín</div>
       <div class="list-item-title is-size-5">Ángela Pozo</div>
    </div>
</div>
