{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags|e }} - Gallery {% endblock title %}


{% block content %}

<!-- https://www.publicalbum.org/blog/embedding-google-photos-albums -->

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>

<section class="section">
  <div class="container">
    <h2 class="title is-2">Galería de imágenes 📷 </h2>
    <hr>

    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
         data-link="https://photos.app.goo.gl/a5c7f5DmyjLExXhL7"
         data-title="PyConEs GRX"
         data-description="15 new items added to shared album"
         data-background-color="#ffffff">
      <object data="https://lh3.googleusercontent.com/wm0XiPruTx16sF8kKOqpl6cCTpXDWVvFpufCQ3wOPB6WfBq4hoBNHnMg6977MB3TcKf4_fiLtuWVwGvawJ1gnUVTjT9iXALQmm2UpRuBE4ULJiyghWamvCw6v4KpGa2aoeR5sO3Pdg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/KTDm-lWHz5z3X5gqOj2xcAMNOfO0IcSs5WgeoXlE-3ncZFlFdGEQUKoiXQMp0hT6KkJvuODgeMWf6hvquBt7xEiY6i5hdCiN6tMh8yWXuvHCOZJ5c2pcnLfKQwTSgrUZtngZlcRH1w=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/eLH2nt2S__LByY7eKnPymfoEAGv4SM9rgkQGfd59SBCX9TiuhvqXEUCmENPMkG1NLSjHQomTkvyeSJqIePHEsutsdVABirCqRhFAYx-395bYAPptMuXkYspRJUtKbRcnrB_Gb8Bnlg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/lKlC7WBBrHFt8AwbOO07UEthT4kzoXqFsQBuYJNJPWcxJlJI--qF6Pt0qvB5H4ZIjq8OZPS1leY7nyCRMxgWi9FqnhlcJNHotNqFdrIyOV3e8So-F75rp7q1LY8NhnkcQDfM-6NA1g=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Wz5OWjm_lyCugOKiRypN5DQ5Imf7HNz7kviclhqbvkkncsREYwioQfWlegM2Rb2a2gD43Jl5Y-q_mcAv4qY9VGsMAfwNYuLKqz0b0cK0zA9AyqKyoE1CGeqrnThEB6BIxYIKK2OqQA=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/zFF75UaWM-9P0MRX7eQK5J__BeEEc9eWFG7fDtDu1pxLOX6XP2YIn_klwQ-UIbnb5XFT_SbYX2Kmddhlb8cYKQcPRmC2H9MQeNbv5G5PD0yDLHsySJtFRQs2y7RvjaHQnKmk2Zq7zg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/aCbYuRk5X1Mwv2I2iryPyXG0FwJ_VkuxIOwCURUJPZE4K3xEHaeWDJz4qz8HM-bvRntB5CKg8OpCVOEcIek8KpIRWIGUVGrQS6KgzErPf8ze5Rmwe6SXInHviz_EIpMnarYtwaUm2w=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/8kclOXbU0Aj96xr7BhWmg4-lBFADFx8gTh4Vjs347RQbgjfKIp2BBrupjZfzl2na6azsv0Ajhw2pyUpFQBW3QWmcp_MexiOKHn61u7ztzF5rnswR0c19dWyGa7riUq46Ob-B9JJWpQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/165NtZERzmIliNcT61LyyPVpRqj9sggisfFm7eCJfWDA46Fk3E-0aJ551ZdNQiDbyKV6U9YP-2NkFgSDaJ9pcDAINW4shHFD7tLiPLZB5NO0glAPmrqtOBXcP0JfEfFpj1I_lc4nAw=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Im018BEfV5w6XseMsSl1f6pw1v9DQeHWMhLIx5OQYqgs6Y41hRS0et0JNur5mHviqRn060gTWrv5UccdttBlC0EyypQ4RX3yDMqJyYuE2RF-hms_81v12WCxhuGWwwFRdwVFLm3zcA=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/NQfiAe1HqIPmWvlwi1CyUBWI0frq0eSEifwpblo-miu2lHE94L5IFnT_zrX8yZg5iqtsQ5KPPqHwGegOZ8hrQpGd9cU6WW-Nn54aQWaRSnshv0TwYP6kPDdrKoE6Vaoe2S3B9auOng=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/2WmrkTW7ezd_LX7tCKC93tvyKwJXUGkwQMmm2C9CBfgTZqSiyOwOBKx9zuGNS6Fa5865wzFx4eLxpqJKXLF2WZG-xAl7J2YDDtvVG4SdrFqUDE7B0AYZKX_AnjQe6H9haqru7fs76Q=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/dVPkVl1tTnZ0FjLKWuSVYL_ORPb1cBELApZUSrtoFA2KAlIukbEOSZYo4RVaWCwY3qiRIrzWKW8vvRIUauGsEVoqrPLbV10GAEj5DCGRcUCA-ZAEE9MqE51SRnSnmdY-5L-lKNuTvQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/HCa6geBLYBBYAosRmqPYW2y9nz9quqRgW9veLlcyeDDxDrAjasTzvS8pDXq6SFrsAIbV3v3UEi6xkZwDiAJtxCDMiaouIjkKVH3YL-wCH6w_qRFp5wzW5Zcw-hZ1XQ-M2d2Be98dVQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/k5gW4N_y56aK34GmEXBSBG9MScSXUS7Pt_Mg4VDCkTGv2uZs6QG-1--LWC_qQabBrZWLxdXAtCzNZbhrAMmb-GLLpbnRMFAN4gJYCSpkH6IwievDMANCY-aodGAD3DSQyZstTkYvEw=w1920-h1080"></object>
    </div>


<div class="box">
  <a href="https://photos.app.goo.gl/a5c7f5DmyjLExXhL7" target="_blank">
    <button class="button is-medium is-orange button is-link is-light">Ir a galería</button>
  </a>
</div>


<div class="box">
  <cite>Si por alguna razón no desea aparecer en alguna de las imágenes mostrada en nuestra galería contacte con la organización y la foto será retirada.</cite>
</div>
</div>
</section>

{% endblock content %}
