<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
     data-link="{{url}}"
     data-title="{{title}}"
     data-description="{{description}}"
     data-background-color="{{background_color}}">
  {% for photo in photos %}
    <object data="{{photo}}"></object>
  {% endfor %}
</div>
