@charset "utf-8";

$primary: #0E749C;
$info: #0E749C;
$link: #0E749C;
$success: #3DADE0;
$warning: #e0ba3d;
$danger: #E03D52;

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat&display=swap');

@import "../libs/bulma/bulma.sass";
@import "../libs/bulma/bulma-timeline.sass";

.navbar{
  background-color: $primary !important;
}

h1, h2, h3, h4, h5 {
  font-family:  'Arvo', serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 1.3rem;
}

.logo {
  background-color: rgba(255,255,255,0.6);
}

.cover-box{
  padding: 50px;
}

.transparent-black-background {
  background-color: rgba(0,0,0,0.6);
}

.message-body {
  .subtitle {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  h1 {
    @extend .subtitle, .is-2;
    padding-bottom: 5px;
  }

  h2 {
    @extend .subtitle, .is-3;
    padding-bottom: 5px;
  }

  h3 {
    @extend .subtitle, .is-4;
    padding-bottom: 5px;
  }

  h4 {
    @extend .subtitle, .is-5;
    padding-bottom: 5px;
  }

  h5 {
    @extend .subtitle, .is-6;
    padding-bottom: 5px;
    font-weight: bold;
  }

  h6 {
    @extend .subtitle, .is-6;
  }


  figure {
    margin: 25px !important;
  }

  ol, ul {
    margin-inline-start: 50px;
    list-style-type: disc;

  }

  .table {
    margin: 25px !important;
    padding: 5px !important;
  }

  table {
    @extend .table;
  }

  .image {
    @extend .has-text-centered;
    background: $white-ter;
    min-width: 214px;
    margin: 0 auto !important;

    figcaption {
      color: $grey-darker;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 4px;
      padding-bottom: 4px;
    }
    img {
      display: inline-block;
    }
  }
  img {
    display:block;
    margin: 0 auto;
  }
  p {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.keynoters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 0.5em;
}

.keystone-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 0.5em;
}

.diamond-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5em;
}

.platinum-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5em;
}

.gold-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 0.5em;
}

.silver-sponsorship-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5em;
}

.past-edition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 0.5fr));
  grid-gap: 1.5em;
  vertical-align: middle;
}


.organizers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 0.5fr));
  grid-gap: 1.5em;
  vertical-align: middle;
}


.card {
  height: max-content;
}

#map {
  width: 100% !important;
  height: 400px;
  margin-bottom: 50px;
}

.fc .fc-toolbar-title{
  font-size: 1rem !important;
}

.card-footer{
  padding: 0.5em;
}
