<h2 class="title is-2">Tickets 🛒 </h2>
<section class="hero is-danger">
    <div class="hero-body">
        <p>
            Volvemos a abrir la venta de entradas!!! 🎊 Aún estas a tiempo de comprar tu entrada.
        </p>
        <p>
            No te quedes sin tus entradas, <b>¡que nos las quitan de las manos!</b>, con ellas podrás disfrutar de todas las ventajas del evento.
        </p>
        <br>
        <a href="{{ TICKETS_LINK }}">
            <button class="button is-normal is-warning is-light">Comprar 🎫</button>
        </a>

    </div>
</section>
<br>
