<h2 class="title is-2">Tickets 🛒 </h2>
<section class="hero is-danger">
    <div class="hero-body">
        <p>
            Lamentablemente todas las entradas están vendidas, aunque aún existe la posibilidad de que podamos sacar unas pocas más a la venta, por lo que te recomendamos que te inscribas en la <strong>lista de espera</strong>. Recuerda que entrar en lista de espera no garantiza entrada. Síguenos en redes sociales y visita nuestra web a menudo para enterarte de las novedades.
        </p>
        <br>
         <a href="{{ TICKETS_LINK }}"><button class="button is-normal is-warning is-light">Entrar en lista de espera 🎫</button></a>
    </div>
</section>
<br>
