<h2 class="title is-2">Tickets 🛒 </h2>
<section class="hero is-danger">
    <div class="hero-body">
        <p>
            Las primeras entradas se han vendido muy rápido. 🎊 <b>¡No te desanimes!</b> Aún estas a tiempo de comprar tu entrada.
        </p>
        <p>
            <b>Próximamente</b> anunciaremos la apertura de una nueva tanda de entradas, no dejes de consultar <b>redes sociales y la web para conseguir la tuya</b>.
        </p>
<!--    <p>
            No te quedes sin tus entradas, <b>¡que nos las quitan de las manos!</b>, con ellas podrás disfrutar de todas las ventajas del evento.
        </p>
        <br>
        <a href="{{ TICKETS_LINK }}">
            <button class="button is-normal is-warning is-light">Comprar 🎫</button>
        </a>
-->
    </div>
</section>
<br>
