<h2 class="title is-2">Llamada a ponentes (CFT) 📜 </h2>
<section class="hero is-danger">
  <div class="hero-body">
    <p class="is-size-5">¿Quieres ser ponente en PyconES?</p>
    <br>
    <p>
      Estamos felices de anunciar que la llamada a propuestas para ponencias se encuentra disponible.
      Estamos buscando personas de todos los niveles, campos y experiencia.
      <strong>Porfa no seas tímido, estamos deseando aprender de ti.</strong>
    </p>
    <br><br>
    <a href="{{ CALL_FOR_PAPERS_LINK }}">
      <button class="button is-normal is-warning button is-light">Acceder a CFT</button>
    </a>
  </div>
</section>
<br>
