<h2 class="title is-2">Llamada a patrocinadores 🤝 </h2>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      ¿Te gustaría ser patrocinador de la próxima versión del evento más importante sobre desarrollo software con Python?
      No dudes en ponerte en contacto con la organización para ello.
    </p>
    <p class="title">Para conocer todas las ventajas descarga nuestro folleto para patrocinadores.</p>
    <a href="{{SITEURL}}{{ SPONSORS_DOSSIER }}" download>
      <button class="button is-medium is-orange button is-link is-light">Descargar dosier</button>
    </a>
  </div>
</section>
<br>
