<h2 class="title is-2">Llamada a ponentes (CFP) 📜 </h2>
<section class="hero is-info">
  <div class="hero-body">
    <p class="is-size-5">¿Quieres ser ponente? 📢 </p>
    <br>
    <p>
      Estamos felices de anunciar que la llamada a propuestas para ponencias se encuentra disponible.
      Estamos buscando personas de todos los niveles, campos y experiencia.
      <strong>Anímate, estamos deseando aprender de ti. 🎸 </strong>
    </p>
    <br><br>
    <a href="{{ CALL_FOR_PAPERS_LINK }}">
      <button class="button is-normal is-link button is-light">Enviar mi ponencia</button>
    </a>
  </div>
</section>
<br>
