<h2 class="title is-2">Llamada para patrocinios 🤝 </h2>
<section class="hero is-info">
  <div class="hero-body">
    <p>
      ¿Te gustaría patrocinar la próxima versión del evento más importante sobre desarrollo software con Python?
      No dudes en ponerte en contacto con la organización para ello.
    </p>
    <br>
    <p>Para conocer todas las ventajas descarga nuestro folleto para patrocinios.</p>
    <br>
    <a class="button is-normal is-info is-light m-1" href="{{SITEURL}}{{ SPONSORS_DOSSIER_ES }}" download>
      Descargar dosier (ES)
    </a>
    <a class="button is-normal is-warning is-light m-1" href="{{SITEURL}}{{ SPONSORS_DOSSIER_EN }}" download>
      Download brochure (EN)
    </a>
  </div>
</section>
<br>
