
<section class="hero is-medium is-link cover">
    {% for warning in EVENT_WARNINGS %}
    <div class=" warning-element notification {{ warning.color }}">
        ⚠️ {{warning.message}}
    </div>
    {% endfor %}
    <div class="hero-body cover" id="cover-image-grx" style="background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)),  url('{{ SITEURL }}{{ SELECTED_WALLPAPER }}'); background-size: cover; min-height: 95vh">
        <div class="columns">
            <div class="column has-text-centered">
                <figure class="image logo">
                    <img class="is-rounded" src="{{ SITEURL }}{{ MAIN_LOGO }}" alt="{{ SITENAME }}">
                </figure>
                <br>
                <h3 class="title is-3 transparent-black-background cover-box" style="padding: 15px">{{ EVENT_START_DATE_STR }}</h3>
                <h3 class="title is-3 transparent-black-background cover-box" style="padding: 15px">{{ EVENT_END_DATE_STR }}</h3>
            </div>
            <div class="column transparent-black-background cover-box">
                <h1 class="title is-1">
                    {{EVENT_TITLE }}
                    <span><h3 class="title is-3">{{ EVENT_SUBTITLE }}</h3></span>
                </h1>
                <p>{{ EVENT_DESCRIPTION }}</p>
            </div>
        </div>
    </div>
</section>