<h2 class="title is-2">Declaración respecto al COVID-19 🩹 </h2>
<section class="hero is-info">
  <div class="hero-body">
    <p class="is-size-5">Plan de prevención</p>
    <br>
    <p>
      Debido la situación actual de la pandemia, es lo más importante para la organización el
      cumplir con las normativas del establecimiento y del gobierno. La PyConES seguirá las
      recomendaciones de la Universidad de Granada que
      <a href="https://covid19.ugr.es/informacion/salud-prevencion/medidas-preventivas-covid19-2021-2022">puedes leer aquí</a>.
    </p>
    <p>
      Algunos puntos importantes son:
      <ul>
        <li>Se recomienda el uso de mascarilla en los interiores de las instalaciones.</li>
        <li>Mantener siempre que se pueda la distancia social de al menos 1.5 metros.</li>
        <li>El centro dispondrá de carteles informativos sobre higiene de manos y medidas
          de prevención de contagio.</li>
      </ul>
    </p>
  </div>
</section>
<br>
