<h2 class="title is-2">Oradores plenários 🌐</h2>

<div class="grid-container" style="grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));">
    {% for keynoter in KEYNOTERS %}
        <div class="card">
            <div class="card-image">
                <a href="{{ keynoter.url }}">
                    <figure class="image is-4by3">
                        <img src="{{ keynoter.photo_big }}" alt="{{ keynoter.name }}">
                    </figure>
                </a>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{ keynoter.photo }}" alt="{{ keynoter.name }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="{{ keynoter.url }}"><p class="title is-4">{{ keynoter.name }}</p></a>
                        <p class="subtitle is-6">{{ keynoter.twitter }}</p>
                    </div>
                </div>
                <div class="content">
                    {{ keynoter.description }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
