<script>
    $(function() {
        var images = [
            'arnaud-mariat-jkcfb3RZxGE-unsplash.webp',
            'austin-gardner-7fElVDKXLoQ-unsplash.webp',
            'willian-justen-de-vasconcellos-_idxpCoHdE4-unsplash.webp',
            'sebastian-yepes-OdwjaP3GpqQ-unsplash.webp',
            'jorge-fernandez-salas-wNY1d7lVqPo-unsplash.webp',
            'jorge-fernandez-salas-n2GloATD6S8-unsplash.webp',
            'granada.webp'
        ];
        $('.landing').css({'background': 'linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)), url({{ SITEURL }}/theme/images/' + images[Math.floor(Math.random() * images.length)] + ') no-repeat center fixed'});
        $('.landing').css({'background-size': 'cover'});
    });
</script>

<section class="hero is-info is-fullheight landing snowflakes">
    <div class="snowflake">❅</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <figure class="image logo">
                    <img alt="pycones granada 2022", class="is-rounded" src="{{ SITEURL }}/theme/images/piconesGR_horizontal.svg">
                </figure>
                <br>
                <h1 class="title">01 de Octubre de 2022</h1>
                <div class="container">
                    <div id="countdown">
                        <ul>
                            <li><span id="days"></span>días</li>
                            <li><span id="hours"></span>horas</li>
                            <li><span id="minutes"></span>minutos</li>
                            <li><span id="seconds"></span>segundos</li>
                        </ul>
                    </div>
                </div>
                <h2 class="subtitle">El mayor evento dedicado a Python de España, llega a Granada</h2>
                {% include "_includes/index/newsletter_form.html" %}
            </div>
        </div>
    </div>
</section>
