<section class="hero is-primary is-medium header-image">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="{{ SITEURL }}{{ THEME_LOGO }}" alt="Python Granada Logo">
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"  data-target="navbarMenuHeroA">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {% for item, link in MENUITEMS_NAVBAR %}
                        <a class="navbar-item" href="{{ SITEURL }}{{ link }}">
                            {{ item }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

</section>
