<h2 class="title is-2">Programa 🗓️ </h2>
<section class="hero is-info">
    <div class="hero-body">
        El programa de la conferencia está disponible en <a style="font-weight: 600;" href="schedule.html">la sección horario</a>.
        Los horarios actuales de cada día de conferencia son los siguientes:
        <ul class="bullet-points" style="margin-left: 20px;">
            <li>Viernes 30 de Septiembre - Día de Talleres - 15:30h hasta las 19:30h</li>
            <li>Sábado 1 de Octubre - Día de Charlas - 08:00h hasta las 19:10h</li>
            <li>Domingo 2 de Octubre- Día de Charlas - 09:20h hasta las 18:00h</li>
        </ul>
    </div>
</section>
<br>
