<h2 class="title is-2">Patrocinadores 🏢 </h2>
<hr>
{% for sponsor in SPONSORS %}
    {% if sponsor['members'] %}
        <h3 class="title is-3">{{ sponsor['title'] }}</h3>
        <div class="grid-container" style="grid-template-columns: repeat(auto-fill, minmax({{ sponsor['size'] }}, 1fr));">
            {% for member in sponsor['members'] %}
                <div class="card">
                    <div class="card-image">
                        <a href="{{ member.url }}" target="_blank">
                            <figure class="image is-4by3">
                                <img src="{{SITEURL}}{{ member.photo }}" alt="{{ member.name }}">
                            </figure>
                        </a>
                        <footer class="card-footer">
                            <p>{{ member.name }}</p>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
{% endfor %}
