<h2 class="title is-2">Patrocinios 🏢 </h2>
<p>
    Gracias a las empresas que colaboran con la PyConES
    podemos ofrecer el mejor evento y experiencia posible.
</p>
<p>
    Somos una conferencia con un bajo coste de entrada
    capaz de ofrecer una experiencia de 3 días incluyendo
    regalos, almuerzos, comidas y meriendas.
</p>
<p>
    Además contamos con servicio de guardería, becas y
    traducción en directo a lenguaje de signos
    para que nadie se quede fuera.
</p>
<p>
    Con la ayuda de estas empresas conseguimos
    hacer un evento diverso e inclusivo enfocado
    en cuidar la comunidad de Python.
</p>
<hr>
{% for sponsor in SPONSORS %}
    {% if sponsor['members'] %}
        <h3 class="title is-3">{{ sponsor['title'] }}</h3>
        <div class="sponsor_grid-container" style="grid-template-columns: repeat(auto-fill, minmax({{ sponsor['size'] }}, 1fr));">
            {% for member in sponsor['members'] %}
                <div class="sponsor_card">
                    <a href="{{ member.url }}" target="_blank">
                        <figure class="image is-4by3">
                            <img src="{{SITEURL}}{{ member.photo }}" alt="{{ member.name }}">
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
