<h2 class="title is-2">Cronograma del evento ⏲</h2>

<section class="hero is-info">
    <div class="hero-body">
        <p>Aquí tienes un cronograma de las etapas por las que irá pasando la PyConEs. Actualizaremos las fechas exactas en breve.</p>
        <p>Para no perderte un detalle te recomendamos revisar la web, subscribirte a la <b>newsletter</b> y seguirnos por <a style="text-decoration: underline" href="{{ TWITTER_LINK }}">twitter </a></p>
    </div>
</section>

<br>

<div class="container is-max-desktop">
<div class="timeline">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">Inicio</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <b class="heading">Enero</b>
            <p>Os presentamos nuestro fabuloso evento 🎊</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Marzo</p>
            <p> Abrimos envío de propuesta a ponencias ✌</p>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Abril</p>
            <p>Apertura venta de entradas 🛒</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Junio</p>
            <p>Revisamos las ponencias enviadas 🔍</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
            <p class="heading">Julio</p>
            <p>Notificamos las ponencias aceptadas 🎸</p>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-marker is-warning is-icon">
            <i class="fas fa-plane-arrival"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">30 Septiembre</p>
            <p>Recepción y primera jornada del evento</p>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-marker is-danger is-icon">
            <i class="fas fa-camera"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">1 Octubre</p>
            <p>Segunda jornada del evento</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker is-info is-icon">
            <i class="fas fa-brain"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">2 Octubre</p>
            <p>Tercera jornada del evento y clausura</p>
        </div>
    </div>
    <div class="timeline-header">
        <span class="tag is-medium is-primary">Fin</span>
    </div>
</div>
    </div>

<br>
<br>
